@model IEnumerable<Arac_Kiralama_Otomasyonu.Models.Degerlendirme>

@{
    Layout = "~/Views/Shared/Degerlendirme.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.puan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yorum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inceleme_tarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Araclar.marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Musteriler.ad)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.puan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yorum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inceleme_tarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Araclar.marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Musteriler.ad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.degerlendirme_no }) |
                @Html.ActionLink("Details", "Details", new { id=item.degerlendirme_no }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.degerlendirme_no })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
